.button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
}

.label {
    -fx-text-fill: #ffffff;
}

.root {
    -fx-background-color: #1a1a1a;
}

#calendarPane {
    -fx-border-width: 2px;
    -fx-border-color: #007bff;
}

#currentDay {
    -fx-border-width: 4px;
    -fx-border-color: green;
}

#selectedDay {
    -fx-border-width: 4px;
    -fx-border-color: blue;
}

/*#vitaminVBox,#sugarVBox,#fatVBox,#macroVBox,#mineralVBox,#otherVBox{
    -fx-border-color: #007bff;
    -fx-border-width: 4px;
}*/

#notFound { -fx-accent: red; }

#entryLabel {
    -fx-font-size: 15;
    -fx-text-fill: black;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: blue;
    -fx-background-color: #0c8de3;
    -fx-padding: 0 10 5 10;
    -fx-background-radius: 5;
}

.chart-pie-label-line {
    -fx-stroke: white;
    -fx-fill: white;
}

.nutrients-label {
    -fx-underline: true;
}

.chart-pie-label { /*this is what you need for labels*/
    -fx-fill: white;
    -fx-font-size: 1em;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, -40%);
    -fx-border-width: 3px;
}

.data0.chart-pie { -fx-pie-color: #3A58C5; }
.data1.chart-pie { -fx-pie-color: #623AC5; }
.data2.chart-pie { -fx-pie-color: #3A9DC5; }
