.button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
}

.label {
    -fx-text-fill: #ffffff;
}

.root {
    -fx-background-color: #1a1a1a;
}

.pane {
    -fx-background-color: #2d2d2d;
}

#currentDay {
    -fx-border-width: 10;
    -fx-border-color: green;
}

#selectedDay {
    -fx-border-width: 10;
    -fx-border-color: blue;
}

#entryLabel {
    -fx-font-size: 17;
    -fx-border-width: 2;
    -fx-border-color: blue;
    -fx-border-style: solid;
}