.button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
    -fx-font-size: 25px;
    -fx-border-color: white;
    -fx-border-radius: 15px;
}

#fakeButton{
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
    -fx-font-size: 10px;
    -fx-border-color: white;
    -fx-border-radius: 15px;
    -fx-padding: 10;
}

.button:hover {
    -fx-background-color: #004599;
}

.label {
    -fx-text-fill: #ffffff;
}

.root {
    -fx-background-color: #1a1a1a;
}

.spinner {
    -fx-font-size: 25px;
}

.combo-box {
    -fx-font-size: 25px;
}

#calendarPane {
    -fx-border-width: 2px;
    -fx-border-color: #007bff;
}

#currentDay {
    -fx-border-width: 4px;
    -fx-border-color: green;
}

#selectedDay {
    -fx-border-width: 4px;
    -fx-border-color: blue;
}

/*#vitaminVBox,#sugarVBox,#fatVBox,#macroVBox,#mineralVBox,#otherVBox{
    -fx-border-color: #007bff;
    -fx-border-width: 4px;
}*/

#notFound { -fx-accent: red; }

#entryLabel {
    -fx-font-size: 15;
    -fx-text-fill: black;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: blue;
    -fx-background-color: #0c8de3;
    -fx-padding: 10 5;
    -fx-background-radius: 5;
}

.hyperlink {
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
}

.chart-pie-label-line {
    -fx-stroke: white;
    -fx-fill: white;
}

.nutrients-label {
    -fx-underline: true;
}

#menuButton {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
}

.chart-pie-label { /*this is what you need for labels*/
    -fx-fill: white;
    -fx-font-size: 1em;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, -40%);
    -fx-border-width: 3px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#resultsPane {
    -fx-background-color: #1a1a1a;
}

#nameLabel {
    -fx-text-fill: #ffffff;
}

#percentLabel {
    -fx-text-fill: #ffffff;
}

#valueLabel {
    -fx-text-fill: #ffffff;
}

#datePicker .label {
    -fx-text-fill: black;
}

.data0.chart-pie { -fx-pie-color: #3A58C5; }
.data1.chart-pie { -fx-pie-color: #623AC5; }
.data2.chart-pie { -fx-pie-color: #3A9DC5; }


.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0;
    -fx-padding :0.0 0.0 10.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}