.root {
    -fx-background-color: #1a1a1a;
}

.button {
    -fx-background-radius: 15px;
    -fx-font-size: 18px;
    -fx-border-radius: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: grey;
    -fx-background-color: #1a1a1a;
    -fx-border-color: #4b4b4b;
    -fx-border-width: 2px;
}

#greyButton {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #4b4b4b;
    -fx-border-width: 2px;
}

#greyButton:hover {
    -fx-background-color: #101010;
}

#plainButton {
    -fx-background-color: #1a1a1a;
    -fx-border-color: transparent transparent white transparent;
    -fx-border-width: 2px;
    -fx-text-fill: white;
}

#plainButton:selected {
    -fx-border-color: transparent transparent #007bffff transparent;
    -fx-text-fill: #007bffff;
}

#signInButton {
    -fx-background-color: linear-gradient(to top right, #007bffff, #6f2284);
    -fx-text-fill: white;
}

#signInButton:hover {
    -fx-background-color: linear-gradient(to top right, rgb(0, 72, 187), rgb(84, 27, 101));
}

.label, .hyperlink{
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-border-color: transparent;
}

#titleLabel {
    -fx-font-size: 42px;
}

#greyLabel {
    -fx-text-fill: grey;
}

#nameLabel, #valueLabel, #percentLabel {
    -fx-font-size: 15px;
}

.hyperlink:visited  {
    -fx-underline: false;
}

.hyperlink:hover {
    -fx-underline: true;
}

.text-field {
    -fx-border-color: #4b4b4b;
    -fx-background-color: #1a1a1a;
    -fx-border-width: 2px;
    -fx-font-size: 20px;
    -fx-border-radius: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: grey;
}

.text-area {
    -fx-border-color: #4b4b4b;
    -fx-border-width: 2px;
    -fx-font-size: 12px;
    -fx-text-fill: grey;
    -fx-background-color: #1a1a1a;
}

.text-area .content {
    -fx-background-color: #1a1a1a;
}

/*  TODO find a way to decrease duplication of attributes across ids */

#text-field-error {
    -fx-border-color: red;
}

#text-field-warning {
    -fx-border-color: yellow;
}

#text-field-correct {
    -fx-border-color: green;
}

#errorLabel {
    -fx-text-fill: red;
    -fx-font-size: 18px;
}

#warningLabel {
    -fx-text-fill: yellow;
    -fx-font-size: 18px;
}

#correctLabel {
    -fx-text-fill: green;
    -fx-font-size: 18px;
}

.progress-bar {
    -fx-control-inner-background: #4b4b4b;
}

.progress-bar > .bar, .progress-bar > .track {
    -fx-background-insets: 0;
}

#passwordStrengthProgressBarStrong {
    -fx-accent: green;
}

#passwordStrengthProgressBarWeak {
    -fx-accent: red;
}

#passwordStrengthProgressBarOk {
    -fx-accent: yellow;
}

#menuBar {
    -fx-background-color: #007bffff;
}

#menuBarItem {
    -fx-background-color: #007bffff;
    -fx-background-radius: 0;
    -fx-border-width: 0;
}

#menuBarItem:hover {
    -fx-background-color: #003d86;
}

#menuBarItem:selected {
    -fx-background-color: #002a67;
}

#subMenuBar {
    -fx-background-color: #002a67;
}

#fakeButton {
    -fx-background-color: #0056B3;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
    -fx-font-size: 20px;
    -fx-border-color: white;
    -fx-border-radius: 15px;
    -fx-padding: 10;
}

#hoverPane {
    -fx-background-color: #1a1a1a;
    -fx-background-radius: 15px;
    -fx-font-size: 15px;
    -fx-border-color: white;
    -fx-border-radius: 15px;
}

.spinner {
    -fx-font-size: 20px;
}

.combo-box {
    -fx-font-size: 20px;
}

.table-view {
    -fx-font-size: 20px;
    -fx-background-color: #1a1a1a;
}

.table-view .column-header.protein {
    -fx-background-color: #33d463;
}

.table-view .column-header.carbs {
    -fx-background-color: #4b33d4;
}

.table-view .column-header.fat {
    -fx-background-color: #33a4d4;
}

.table-view .table-column {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-border-color: transparent;
}

.table-view .table-row-cell {
    -fx-background-color: #1a1a1a;
}

.radio-button {
    -fx-text-fill: grey;
}

.radio-button .radio {
    -fx-background-color: grey;
}

.radio-button:disabled, .radio-button:disabled > * {
    -fx-opacity: 1.0 ;
    -fx-text-fill: grey;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: #007bffff;
}

.check-box .box{
    -fx-background-color: grey;
}

.notification-bar .pane {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-color: #1a1a1a;
    -fx-padding: 5 5 5 5;
    -fx-background-insets: 0, 1, 2;
}

.notification-bar .pane .title {
    -fx-font-size: 20px;
}

.notification-bar .pane .label {
    -fx-text-fill: white;
}

#greenRadioButton:selected .radio { /* this is the background of the button*/
    -fx-background-color: green;
}

#greenRadioButton:selected .dot{
    -fx-background-color: green;
    -fx-background-insets: 0;
}

#blueRadioButton:selected .radio { /* this is the background of the button*/
    -fx-background-color: #007bffff;
}

#blueRadioButton:selected .dot{
    -fx-background-color: #007bffff;
    -fx-background-insets: 0;
}

#errorRadioButton .dot{
    -fx-background-color: red;
}

#errorRadioButton .radio{
    -fx-background-color: red;
}

#errorRadioButton {
    -fx-text-fill: red;
}

#titleLabel .text {
    -fx-stroke-width: 0.5;
    -fx-stroke: white;
}

#labelPane {
    -fx-border-width: 4px;
    -fx-border-color: white;
}

#notFound {
    -fx-accent: red;
}

#successfullMessage {
    -fx-text-fill: green
}

#unsuccessfullMessage {
    -fx-text-fill: red
}

#entryLabel {
    -fx-font-size: 15;
    -fx-text-fill: black;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: blue;
    -fx-background-color: #0056B3;
    -fx-padding: 10 5;
    -fx-background-radius: 5;
}

.chart-pie-label-line {
    -fx-stroke: white;
    -fx-fill: white;
}

.nutrients-label {
    -fx-underline: true;
}

#menuButton {
    -fx-background-color: #0056B3;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
}

.chart-pie-label { /*this is what you need for labels*/
    -fx-fill: white;
    -fx-font-size: 1em;
}

#mainMenuButton {
    -fx-font-size: 25;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, -40%);
    -fx-border-width: 3px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#resultsPane {
    -fx-background-color: #1a1a1a;
}

#nameLabel {
    -fx-text-fill: #ffffff;
}

#percentLabel {
    -fx-text-fill: #ffffff;
}

#valueLabel {
    -fx-text-fill: #ffffff;
}

.date-picker-popup{
    -fx-min-height: 230;
    -fx-min-width: 400;
    -fx-background-color: #1a1a1a;

}

.date-picker-popup .button{
    -fx-background-color: #1a1a1a;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-border-color: #4b4b4b;
    -fx-border-width: 0px;
}

.date-picker-popup .button:hover {
    -fx-background-color: black;
}

.date-picker-popup .button .arrow {
    -fx-background-color: white;
}

.date-picker-popup .cell {
    -fx-border-color: #1a1a1a; /* this gets rid of the grid-like border in the calendar*/
    -fx-background-color: #1a1a1a;
    -fx-text-fill: white;
}

.date-picker-popup .cell:hover {
    -fx-background-color: black;
}

.date-picker-popup .selected {
    -fx-background-color: #007bffff;
    -fx-text-fill: white;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: #1a1a1a;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}

#message {
    -fx-text-fill: red;
}

.data0.chart-pie {
    -fx-pie-color: #33a4d4;
}

.data1.chart-pie {
    -fx-pie-color: #4b33d4;
}

.data2.chart-pie {
    -fx-pie-color: #33d463;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0.0 0.0 10.0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}